<!-- this is the html markup and structure for the home page -->

<main>

    <!-- Hero banner html -->
    <section class="hero-banner">
        <div class="container">
            <div class="row align-items-center pt-60px">
                <div class="col-5 d-none d-sm-block">
                    <!-- Image Source, free commercial use, no attribution required:
                    pixabay.com/photos/staging-real-estate-tulips-white-2816464/ -->
                    <div class="hero-banner__img">
                        <img class="img-fluid mb-5" src="/img/home/hero-banner.png" alt="Shop Now">
                    </div>
                </div>
                <div class="col-sm-7 col-lg-6 offset-lg-1">
                    <div class="hero-banner__content">
                        <h4>Shopping at Abode is fun!</h4>
                        <h1>Browse Our Premium Products</h1>
                        <p>
                            Choose from our unique and inspiring collection of wonderful homeware,
                            giftware, and electronic items.
                        </p>
                        <a class="button button-hero" href="/Catalogue">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--  offer section html  -->

    <!-- Parallax Image Source, free commercial use, no attribution required:
    pixabay.com/photos/gift-parcel-surprise-ribbon-548290/ -->
    <section class="offer" id="parallax-1" data-anchor-target="#parallax-1">
        <div class="container">
            <div class="row">
                <div class="col-xl-5">
                    <div class="offer__content text-center">
                        <h3>Up To 40% Off</h3>
                        <h4>Winter Sale</h4>
                        <p>Warm up someones heart this winter!</p>
                        <a class="button button--active mt-3 mt-xl-4" href="/Catalogue">Sale</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>